.audio{
  flex-basis: 30%;
  text-align: center;
}

.image{
    height: 100%;
}

.imageContainer{
    background-color: rgba(228, 213, 213, 0.4);
    display: flex;
    justify-content: center;
    height: 30vh;
    box-sizing: border-box;
    position: relative;
    overflow:visible ;
    border:2px solid black;
    flex-grow: 1;
}

.imageContainer >div{
  display: none;
  position: absolute;
  top :100%;
  z-index: 2;
  background-color: white;
  width:100%;
  padding: 3%;
  overflow-y: scroll;
}

.imageContainer:hover{
    border: 1px solid black;
}

.imageContainer:hover >div{
  display: block;
}

.imageTitle{
  color :blue;
}

#imagesSection{
  flex-basis: 71%;
  flex-grow: 1;
  overflow-y: visible;
  overflow-x: scroll;
  box-sizing: border-box;
  padding-bottom: 15vh;
}

#imagesField{
  display: flex;
  flex-wrap: wrap;
  flex-grow:1 ;
  flex-basis: 50%;
  border:4px solid black;
}